<!doctype html>
<html lang="en">
  <head>
    <title>Frami</title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    {% csrf_token %}

    {% if user.is_authenticated %}
      {{ user_serialized | json_script:"user" }}
    {% endif %}

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="/spa/main.js"></script>
  </body>
</html>
